body {
  --primary: #18181b;
  --secondary: #67676b;
  --accent: #9146ff;
  --accent-hover: #772ce8;
  --accent-active: #5c16c5;
  --shadow: rgba(0, 0, 0, 0.2);

  width: 330px;
  height: auto;
  background: var(--primary);
  font-family: Arial, sans-serif;
  margin: 0;
  user-select: none;
}
:root {
  color-scheme: dark;
}
::selection {
  background-color: var(--accent);
}


/* HEADER */

h1 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
}


/* Text CONTAINER */

.text-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  position: relative;
}
.text-container input[type="text"] {
  background-color: var(--primary);
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 5px 5px 5px 30px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 8px 8px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
}
.text-container input[type="text"]:focus {
  outline: 2px solid white;
  border: 1px solid white;
}
::placeholder {
  color: var(--secondary);
  font-weight: normal;
  opacity: 1;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: var(--secondary);
  font-size: 1rem;
  cursor: text;
}


/* CHECKBOX */

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: var(--accent);
  border: 3px solid white;
}
input[type="checkbox"]:focus {
  outline: none;
}

.checkbox-label {
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* BUTTONS */

.button-container {
  justify-content: center;
  padding: 10px;
}

.button {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: 10px;
  background-color: var(--accent);
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
  cursor: pointer;
}
.button:hover {
  background-color: var(--accent-hover);
}
.button:active {
  background-color: var(--accent-active);
}

.other-buttons {
  margin-top: 10px;
}