/*Style for Open-Twitch-Channel*/

body {
  width: 330px;
  height: auto;
  background: #18181b;
  font-family: Arial, sans-serif;
  margin: 0;
}
h1 {
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 40px;
  font-family: Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
}
.text-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.text-container input[type="text"] {
  background-color: #18181b;
  color: #ffffff;
  width: 83.5%;
  height: 25px;
  padding: 5px;
  padding-left: 30px;
  margin-bottom: 10px;
  border: 1px solid #67676b;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.text-container input[type="text"]:focus {
  outline: 2px solid white;
  border: 1px solid white;
}
::selection {
  background-color: #6b34eb;
}
::placeholder {
  color: #67676b;
  font-weight: normal;
  opacity: 1;
}
.search-icon {
  position: absolute;
  top: 40%;
  left: 20px;
  transform: translateY(-50%);
  color: #67676b;
  font-size: 1rem;
  cursor: text;
}
input[type="checkbox"]:focus {
  outline: none;
}
.label1 {
  color: #ffffff;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.label2 {
  color: white;
}
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.button {
  width: 95%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: 10px;
  background-color: #6b34eb;
  color: #ffffff;
  font-weight: bold;
  transition-duration: 0.100s;
  cursor: pointer;
}
.button:hover {
  background-color: #492694;
}
.button:active {
  background-color: #6b34eb;
}
.second-button {
  margin-top: 10px;
}
.third-button {
  margin-top: 10px;
  margin-bottom: 10px;
}